.App {
  text-align: center;
}

.inputs{
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.resultsTable{
  border-collapse: collapse;
  width: 100%;
}

.resultsTable th, .resultsTable td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.resultsTable th {
  background-color: #f2f2f2;
}